.edit-item-container{
    
    >h2{
        text-align: center;
    }
    >hr{
        width: 80%;
    }
}

.edit-item-form{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 25px;
    >label{
        margin: -20px;
    }
    >input, select{
        border-radius: 8px;
    }
}
